.city-CardContainer{
    
    height:max-content;
}

.city-Title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    font-weight: 400;
    /* border: 1px solid red; */
    margin:0;
    margin: 10px 0 5px 0;
    padding:0;
}

.city-Select{
    width: 80%;
    height: 25px;
    border-style:none;
    border-radius: 5px;
    /* border: 1px solid red; */
}

.city-Name{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
   /*  border:1px solid violet; */
    width: 100%;
    letter-spacing: -1px;
    /* border: 1px solid blue; */
    margin-top: 0px;
}

.city-Name span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
   /*  border:1px solid violet; */
    width: 100%;
    margin-top: 0;
}


.city-Temp{
    width: 100%;
    height: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: -5px;
    margin-top: -15px;
   /*  border: 1px solid red; */
}

.city-Row{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: .85rem;
    width: 100%;
    height: 100%;
    padding:5px 0;
    border-top: 1px solid rgb(143, 143, 143);
    /* border-left: 1px solid rgb(206, 206, 206); */
    
}

.city-Row span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    height: 50%;
    margin-top: .3rem;
    /* border: 1px solid tomato; */
}

.city-Row small{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    height: 50%;
    /* border: 1px solid tomato; */
}

@media only screen and (max-width:768px) {
    .city-CardContainer{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: row;
        width: 100%;
        margin:5px;
        margin-bottom: 20px;
        /* border: 1px solid red; */
    }

    .city-Name{
        height: 100%;
        width: auto;
        font-size: 1rem;
        /* border: 1px solid red; */
    }

    .city-Temp{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        width: auto;
        font-size: 3rem;
        /* border: 1px solid red; */
        margin: 5px 5px 0 5px;
        letter-spacing: -3px;
        font-size: 3rem;
    }

    .city-Row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0;
        height: 100%;
        width: auto;
        border: 0;
        /* border: 1px salmon solid; */
        margin: 0 10px;
    }
    
    .city-Row span{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding:0;
        width: 100%;
        font-size: 1.5rem;
        /* border: 1px solid blue; */
        
    }
    
    .city-Row small{
        
        border: 1px .8rem;
    }

    .city-Title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin-top:15px;
        margin-bottom: -5px;
        padding:0;
    }
    .city-Select{
        
        margin: 15px;
        width: 80%;
    }
}