.fiveDays-Container{
    display: flex;
    flex-direction: row;
    height:25%;
    width: 100%;
    /* border:1px solid rgb(28, 3, 255); */
}
.fiveDays-CardsContainer{
    display: flex;
    flex-direction: row;
    height:100%;
    width: 100%;
    /* border:1px solid rgb(20, 209, 92); */
}

.fiveDays-CardDetail{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    border-right:1px solid rgb(185, 185, 185);
    border-top:1px solid rgb(185, 185, 185);
    /* border:1px solid rgb(17, 0, 255); */
}

.fiveDays-circle{
    width: 35px;
    height: 35px;
    background-color: rgba(247, 139, 38, 0.507);
    border-radius: 20px;
}

.fiveDays-Icon{
    width: 30px;
    height: 30px;
   /*  border:1px solid red; */
}

.fiveDays-DayOfWeek{
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    
    /* border:1px solid blue; */

}
.fiveDays-DayOfWeek span{
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: -2px;

}

.fiveDays-Temp{
    width: 100%;
    height: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -2px;
    margin:5px 0;
   /*  border: 1px solid salmon */
}

.fiveDays-Average{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    padding-top: 2px;
}

@media only screen and (max-width:768px){

    .fiveDays-Container{
        display: flex;
        flex-direction: column;
        height:500px;
        width: 50%;
        margin-right: 5px;
        /* border: 1px solid red; */
    }

    .fiveDays-CardsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        /* border: 1px solid yellow; */
    }

    .fiveDays-CardDetail{
        width: 100%;
        height: 100%;
        flex-direction: row;
        margin: 0 0px ;
        border-right:0px;
        border-top: none;
        /* border:1px solid green; */
        /* border-bottom: 1px solid rgb(185, 185, 185);
        border-left:1px solid rgb(185, 185, 185); */
        
    }

    .fiveDays-Temp{
        width: auto;
        margin: 0 10px;
    }

    .fiveDays-CardDetail{
        width: auto;
        border-top:1px solid rgb(185, 185, 185);
        border-left:1px solid rgb(185, 185, 185);
    }

    .fiveDays-DayOfWeek{
        width: auto ;
        margin: 0 10px;
    }

    .fiveDays-Icon{
        width: auto ;
        margin: 0 10px;
    }

    .fiveDays-circle{
        width: auto ;
        margin: 0 ;
    }
}

@media only screen and (max-width:640px){

    .fiveDays-Average{
        display:none
    }

    .fiveDays-CardDetail{
        
        border-top:1px solid rgb(185, 185, 185);
        /* border:1px solid rgb(17, 0, 255); */
    }

    .fiveDays-DayOfWeek{
        font-size: 2.3rem;
        margin-top:15px;
    }

    .fiveDays-DayOfWeek span{
        font-size: 2.3rem;
    }

    .fiveDays-Container{
        width: 100%;
    }


}